/* teneral */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom right, #0d1b2a, #2c384e, #7f9cbc);
    color: #eee;
    line-height: 1.6;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}

/* Left */
.sidebar {
    width: 280px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 30px 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
}

/* name, profile */
.profile {
    text-align: center;
    margin-bottom: 30px;

}

.pic {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}


/* section */
.about {
    margin-bottom: 25px;
    /* about 和contact */
}

.about h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.contact ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact ul li {
    margin: 5px 5px;
}

.contact a {
    color: #76c7ff;
    transition: color 0.3s;
}

.contact a:hover {
    color: #fff;
}

/* right */
.main-content {
    flex: 1;
    padding: 50px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* intro */
.intro {
    flex: 1;
    min-width: 280px;
    max-width: 600px;
}

.intro-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}

.intro h1 {
    font-size: 36px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}

.intro p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #ddd;
}

/* anime */
@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.intro h1 {
    /* Hey Im Jaycee*/
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(30) 1s forwards;
}


/* Project */
.projects {
    margin-top: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* card class */
.card {
    margin-top: 20px;
    backdrop-filter: blur(15px);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}


.image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.info {
    padding: 15px;
    color: #fff;
}

.info a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.info a:hover {
    color: #76c7ff;
    /* hover light blue */
}

.info h3 {
    /*title*/
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
}

.date {
    font-size: 14px;
    color: #ccc;
    margin: 5px 0;
}

.description {
    font-size: 14px;
    line-height: 1.5;
    color: #ddd;
    margin: 0;
}

.tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    background: rgba(118, 199, 255, 0.2);
    /* light blue background */
    color: #76c7ff;
    /* font color ligther than background */
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

/* cat */
.cat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat model-viewer {
    width: 50%;
    height: 300%;
}

.cat model-viewer::part(default-progress-bar) {
    display: none;
}

@media screen and (max-width: 1020px) {
    .today {
        position: relative; 
    }
    
    .today-list {
        position: absolute;
        left: 100%; /* left */
        top: 0;
        transform: translateY(-50%);
    }
}


/* screen small */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        border-right: none;
    }

    .main-content {
        margin: 10px 0;
        padding: 20px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .cat {
        width: 150px;
        height: 200px;
    }

    .contact ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .today-list {
        right: -105%;    /* right */
        left: auto;
        top: 0;
        margin-top: 0;
      }
}


@media screen and (max-width: 640px) {
    .today {
        position: relative; 
    }
    
    .today-list {
        position: absolute;
        left: 100%; /* left */
        top: 0;
        transform: translateY(-50%);
    }
}



@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }

    .profile .pic {
        width: 80px;
        height: 80px;
        display: flex;

        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .sidebar h2 {
        font-size: 20px;
    }

    .sidebar p {
        font-size: 12px;
    }

    .section h3 {
        font-size: 14px;
    }

    .section ul li {
        font-size: 12px;
    }

    .card .image {
        height: 150px;
    }

    .contact ul {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }

      .leetcode-summary {
        margin-left: auto;
    }
      
}


/* leetcode */
.leetcode-summary {
    width: 280px;
    max-width: 500px; 
    margin: 0;
}

.leetcode-card {
    background: linear-gradient(to bottom right, rgba(26, 26, 46, 0.5), rgba(22, 33, 62, 0.5));
    border-radius: 10px;
    padding:15px 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    color: #eee;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    position: relative; 

  }

  .leetcode-card {
    transition: all 0.3s ease;
  }
  
  .leetcode-card:hover {
    background: linear-gradient(to bottom right, rgba(40, 40, 60, 0.85), rgba(30, 50, 80, 0.85));
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  }

  .leetcode-card h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  
  /* num & beats */
  .summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .summary-main p {
    font-size: 14px;
    color: #aaa;
    margin: 0;
    margin-bottom: 2px;    
    line-height: 0.9;

  }
  
  .summary-main h2 {
    font-size: 32px;
    color: #3ba55d;
    margin: 0;
    line-height: 0.9; 
  }
  
  .beats span {
    font-size: 14px;
    color: #facc15;
  }
  
  /* difficulty */
  .difficulty-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  .difficulty-row .level {
    flex: 1;
    padding: 5px;
    border-radius: 8px;
    background: rgba(255,255,255,0.05);
    font-size: 14px;
    font-weight: bold;
  }
  
  .easy { color: #4caf50; }
  .medium { color: #ffc107; }
  .hard { color: #f44336; }
  
  /* submission & today */
  .bottom-stats {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .submission span {
    color: #bb86fc;
    font-weight: bold;
  }
  
  .today span {
    color: #00e676;
    font-weight: bold;
  }

  /* view profile */
  .leetcode-btn {
    display: inline-block;                 
    width: 100%;                   
    padding: 5px 12px;
    /* margin-top: 10px; */
    border-radius: 8px;
    background: rgba(118, 199, 255, 0.15);
    color: #76c7ff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    border: 1px solid rgba(118, 199, 255, 0.3);
    text-align: center;
    box-sizing: border-box;
  }
  
  .leetcode-btn:hover {
    background: rgba(118, 199, 255, 0.3);
    color: #fff;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(118, 199, 255, 0.2);
  }
  
  
  /* TODAY */
  .today-summary {
    position: relative;
    display: inline-block;
    min-width: 80px;
  }
  
  .today-list {
    position: absolute;
    top: 0;
    right: 105%;
    background: linear-gradient(to bottom right, rgba(26, 26, 46, 0.85), rgba(22, 33, 62, 0.85)); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 12px 20px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    z-index: 9999;
    color: #eee;
    font-size: 15px;
    list-style: disc;
    width: 260px;
    max-height: 300px;
    overflow-y: auto;
    backdrop-filter: blur(8px);  
    transition: opacity 0.3s ease;
    transform: none;

  }
  
  .today-list li {
    margin-bottom: 6px;
  }
  
  .today-list li a {
    color: #89cfff;
    text-decoration: none;
  }
  
  .today-list li a:hover {
    text-decoration: underline;
  }
  
  .hidden {
    display: none;
  }
  
  .projects,
.projects .grid,
.projects .card {
  position: relative;
  z-index: 1;
}

/* PeTrack links */
.meta {
    display: flex;
    align-items: center;
    gap: 12px; 
    margin-bottom: 8px;
  }
  
  .date {
    margin: 0;
    font-size: 14px;
    color: #ccc;
  }
.links a {
    color: #4ea1f3;           
    text-decoration: underline; 
    font-weight: 500;
    margin-right: 8px;
  }
  
  .links a:hover {
    color: #1d75cf;          
    cursor: pointer;       
  }
  